/.ipynb_checkpoints
/__pycache__/train_020221.cpython-36.pyc
/archive
/archive_0502
/archive_0502_working
/archive_0602
/archive_0702
/backup_train_020221
/docs
/error_images
/images_report
/outputs
/to_check
/working
Untitled.ipynb
/nd00333-capstone-master
/temp
